@use './variables' as variables;
div.admin-page-wrapper{
    margin-top:3em;

    &>div.admin-page-modal-wrapper{
        max-width:700px;
        width:95%;
        margin: 0 auto;
        background-color:white;
        margin-top:3em;
        padding:1em 1.5em;
        border-radius:0.3em;
        box-shadow:0px 0px 25px 5px rgba(0,0,0,0.06);

    }

    &>div.admin-page-buttons{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        max-width:700px;
        width:90%;
        margin:0 auto;
        grid-gap:1em;
        &>span{
            color:white;
            background:variables.$primary_color;
            padding:0.5em 1em;
            text-align:center;
            cursor:pointer;
            border:3px solid currentColor;
            font-size:1.1em;
            display:flex;
            align-items:center;
            justify-content:center;
            font-weight:bold;
            border-radius:0.2em;
            box-shadow:0px 0px 25px 5px rgba(0,0,0,0.06);
            &[select="1"]{
                color:variables.$primary_color;
                background-color:white;
            }
        }
    }

}

form.modal-form{
    &>h3{
        text-align:center;
        margin-top:0.2em;
        margin-bottom:1em;
        font-size:1.3em;
    }
    &>ul.error-container{
        display:block;
        color:red;
        list-style:none;
        padding-bottom:0.5em;
        margin-bottom:1em;
        padding-left:0px;
        &>li{
            display:block;
            margin-bottom:0.5em;
            font-size:0.8em;
            font-style:normal;
        }
    }
    &>div.input-group{
        &.single-column>label{
            margin-bottom:0.5em;
        }
        &>input , &>textarea{
            width:100%;
            resize:none;
            display:block;
        }
        


    }
    div.error-div{
        margin-bottom:1em;
        &>i{
            font-style:normal;
            color:red;
            font-weight:bold;
            display:block;
        }
    }
    &>div.btn-group{
        display:flex;
        gap:1em;
        & button{
            flex-grow:1;
            padding:0.8em;
            font-size:1.1em;
            font-weight:bold;
            border:0px solid black;
            background-color:variables.$primary_color;
            border-radius:0.3em;
            color:white;
            width:100%;
        }
        @media only screen and (max-width:500px){
            flex-wrap:wrap;
            & button{
                flex-shrink:0;
            }
        }
    }
}


div.delete-modal{
    position:relative;
    display:block;
    margin-bottom:1em;
    font-size:1.1em;
    & button{
        font-family:inherit;
    }
    &[enabled="1"]{
        &>button{
            color:white;
            background-color:red;
            border:0px solid red;
        }
        &>div.popup{
            display:initial;
        }
    }
    &>button{
        font-size:inherit;
        padding:0.2em 0.8em; 
        font-weight:600;
        color:red;
        cursor:pointer;
        background-color:white;
        border:2px solid red;
        border-radius:0.2em;
        margin-left:auto;
        margin-right:0px;
        width:fit-content;
        display:block;
        
    }
    &>div.popup{
        background-color:white;
        margin-top:1em;
        padding:1em 0.5em;
        text-align:Center;
        display:none;
        border-radius:0.3em;
        &>p{
            margin:0px;
            margin-bottom:1em;
            font-weight:600;
            font-size:1.2em;
        }
        &>div.popup-btns{
            display:flex;
            align-items: center;
            justify-content: center;
            &>button{
                font-size:1em;
                margin:0px 1em;
                padding:0.7em 0.8em;
                border:0px;
                flex-grow:2;
                cursor:pointer;
                font-weight:600;
                border-radius:0.3em;
                &:last-child{
                    background-color:black;
                    color:white;
                }
            }
        }
    }
}