@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


$primary_color : #0093FF;
$gray_color : #efefef;
$main_font : 'Nunito' , sans-serif;
$bg_gray : #f4f4f4;
$heading_gray : #fbfbfb;

$feature_label_color : #011b78;
$dark_primary_color : #007eda;
$bug_label_color : red;
$resolved_label_color : #42C767;
$code_under_review_label_color : #8837C8;
$new_label_color : #00C3A0;
$in_progress_label_color : #42B7C7;
$super_light_gray_color : #fbfbfb;

$orange_color: #ff8266;