@use './variables' as variables;
@use './navbar' as navbar;
@use './issue_item' as issue_item;
@use './projects' as projects;
@use './general_list' as generalList;
@use './general_box_elements' as general_box;
@use './login' as login;
@use './userProfile' as userProfile;
@use './admin_modal' as admin_modal;
body , html{
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
}

div.update-all-users-wrapper{
    padding:1.5em;
}

.box-heading{
    padding:0.3em 0.5em;
    display:block;
    width:fit-content;
    font-size:0.9em;
    border-radius:0.2em;
    margin:0px;
    border:2px solid currentColor;
    margin-bottom:1em;
    font-weight:800;
    text-transform:uppercase;
    @media screen and (max-width:450px){
        font-size:0.75em;
    }
}

div.modal-wrapper{
    position:fixed!important;
    z-index:99!important;
    &.loading-wrapper{
        z-index:100!important;
    }
    overflow:auto;
    inset:0px;
    background-color:rgba(0,0,0,0.8);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display:grid;
    place-items:center;
    animation:fade-in 0.3s ease-in-out;
    @keyframes fade-in{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }
    &>div.modal-form-wrapper{
        max-width:700px;
        width:95%;
        background-color:white;
        padding:1.5em;
        border-radius:0.3em;
        z-index:1;
    }
    &>div.loading-modal{
        width:300px;
        background-color:white;
        border-radius:0.3em;
        box-shadow:0px 0px 25px 5px rgba(0,0,0,0.05);
        display:flex;
        flex-flow:column;
        align-items:center;
        justify-content:center;
        padding:1.5em;
        text-align:center;
        z-index:2;
        &[rotate="1"]{
            color:red;
        }
        &[rotate="0"]{
            color:black;
        }
        &[load="1"]{
            &>svg{
                animation:rotation 2s ease-out infinite;
            }
        }
            
        &>svg{
            font-size:2.5em;
        }
        &>p{
            font-size:1.5em;
            margin-top:0.5em;
            font-weight:550;
            margin-bottom:0.5em;
            text-transform: capitalize;
        }
        &>button{
            border:0px solid black;
            padding:0.3em 0.8em;
            border-radius:0.3em;
            font-size:1.1em;
            font-family:inherit;
            &[disabled]{
                border:2px solid lightgray;
                color:gray;
                background:white;
            }
        }
        @keyframes rotation{
            from{
                transform:rotateZ(0deg);
            }
            to{
                transform:rotateZ(360deg);
            }
        }
    }
}


h1.soft-heading{
    background-color:variables.$primary_color;
    color:white;
    text-align:center;
    font-size:2em;
    margin-top:0px;
    padding:1.5em 0px;
}